@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
      
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link hide-arrow" href="#" id="Dangnhap" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-online">
                    <img src="~/images/avatars/1.png" alt="" class="w-px-40 h-auto rounded-circle" />
                </div>
            </a>
            <ul class="dropdown-menu list-unstyled" aria-labelledby="Dangnhap">
                <li class="d-none d-lg-block">
                    <a class="text-uppercase mx-3" id="register" asp-area="Identity" asp-page="/Account/Register">Đăng Ký</a>
                </li>
                <li class="d-none d-lg-block">
                    <a class="text-uppercase mx-3" id="login" asp-area="Identity" asp-page="/Account/Login">Đăng Nhập</a>
                </li>
            </ul>
        </li>
    }
</ul>