 <section id="billboard" class="bg-light py-5">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="section-title text-center mt-4" data-aos="fade-up">LG Hotel</h1>
                <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
                <p>
                <p style="text-align: center">đường Võ Nguyên Giáp, phường Hồ Chí Minh, quận Hồ Chí Minh, thành phố Hồ Chí Minh, Việt Nam</p> <br><br>
                Email: info@LGHotel.lg.vn <br><br>
                    Tel: (+84) 123456789
                </p>
                </div>
            </div>

            <div class="container container--khung1">
                <div class="block1">
                    <p>
                        Set along My Khe Beach, LG Hotel overlooks beautiful seashore and is just minutes from city Centre. Completely designed to satisfy of its modern, sophisticated clients, the hotel features noble, elegant lines and the atmosphere of a comfortable, welcoming aristocratic hotel.
                    </p>
                </div>
                <div class="block2">
                    Vì sao nên chọn LG Hotel
                    <ul>
                        <li>Giá không thể tốt hơn</li>
                        <li>Đặt phòng an toàn</li>
                        <li>Quản lý đặt phòng trực tuyến</li>
                        <li>Tiện nghi và vị trí tuyệt vời</li>
                        <li>Nhân viên nói tiếng Việt & Anh</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="swiper main-swiper py-4" data-aos="fade-up" data-aos-delay="600">
                    <div class="swiper-wrapper d-flex border-animation-left">
                        <div class="swiper-slide">
                            <div class="banner-item image-zoom-effect">
                                <div class="image-holder">
                                    <a class="image-item" href="#">
                                    <img src="images/KS1.jpg" alt="product" class="img-fluid">
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                    <a href="index.html" class="item-anchor">Phòng Deluxe Twin</a>
                                    </h5>
                                    <p><i class="fa-solid fa-bed"></i> Giường đơn</p>
                                <p><i class="fa-solid fa-ruler"></i>  82m²</p>
                                   
                                </div>
                                <div class="btnright">
                                    <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none ">Đặt Phòng</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-item image-zoom-effect">
                                <div class="image-holder">
                                    <a href="#">
                                    <img src="images/KS2.jpg" alt="product" class="img-fluid">
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                    <a href="index.html" class="item-anchor">Phòng Grand Suite</a>
                                    </h5>
                                     <p><i class="fa-solid fa-bed"></i> Giường đôi</p>
                                     <p><i class="fa-solid fa-ruler"></i>  100m²</p>
                                    
                                </div>
                                <div class="btnright">
                                    <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Đặt Phòng</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-item image-zoom-effect">
                                <div class="image-holder">
                                    <a href="#">
                                    <img src="images/ks4.jpg" alt="product" class="img-fluid">
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                    <a href="index.html" class="item-anchor">Phòng Deluxe Twin hướng biển</a>
                                    </h5>
                                    <p><i class="fa-solid fa-bed"></i> Giường đôi</p>
                                    <p><i class="fa-solid fa-ruler"></i>  100m²</p>
                                   
                                </div>
                                <div class="btnright">
                                    <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Đặt Phòng</a>
                                 </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-item image-zoom-effect">
                                <div class="image-holder cananh">
                                    <a href="#">
                                    <img src="images/KS5.jpg" alt="product" class="img-fluid">
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                    <a href="index.html" class="item-anchor">Phòng Grand Suite khuyến mãi đặc biệt</a>
                                    </h5>
                                <p><i class="fa-solid fa-bed"></i> Giường đôi</p>
                                <p><i class="fa-solid fa-ruler"></i>  100m²</p>
                                    
                                </div>
                            <div class="btnright">
                                    <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Đặt Phòng</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-item image-zoom-effect">
                                <div class="image-holder cananh">
                                    <a href="#">
                                    <img src="images/KS6.jpg" alt="product" class="img-fluid">
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="index.html" class="item-anchor">Out crop sweater</a>
                                    </h5>
                                <p><i class="fa-solid fa-bed"></i> Giường đôi</p>
                                <p><i class="fa-solid fa-ruler"></i>  100m²</p>
                                   
                                </div>
                                <div class="btnright">
                                    <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Đặt Phòng</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-item image-zoom-effect">
                                <div class="image-holder cananh">
                                    <a href="#">
                                    <img src="images/KS7.jpg" alt="product" class="img-fluid">
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                    <a href="index.html" class="item-anchor">Phòng Superior Twin</a>
                                    </h5>
                                <p><i class="fa-solid fa-bed"></i> Giường đôi</p>
                                <p><i class="fa-solid fa-ruler"></i>  100m²</p>
                                    
                                </div>
                                <div class="btnright">
                                    <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Đặt Phòng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="icon-arrow icon-arrow-left">
                    <svg width="50" height="50" viewBox="0 0 24 24">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </div>
                <div class="icon-arrow icon-arrow-right">
                    <svg width="50" height="50" viewBox="0 0 24 24">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </div>
        </div>
    </section>

    <section class="features py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="0">
                    <div class="py-5">
                        <svg width="38" height="38" viewBox="0 0 24 24">
                            <use xlink:href="#calendar"></use>
                        </svg>
                        <h4 class="element-title text-capitalize my-3">Tôn Trọng</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
                <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="300">
                    <div class="py-5">
                        <svg width="38" height="38" viewBox="0 0 24 24">
                            <use xlink:href="#shopping-bag"></use>
                        </svg>
                        <h4 class="element-title text-capitalize my-3">Hợp Pháp</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
                <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="600">
                    <div class="py-5">
                        <svg width="38" height="38" viewBox="0 0 24 24">
                            <use xlink:href="#gift"></use>
                        </svg>
                        <h4 class="element-title text-capitalize my-3">An Toàn Vệ sinh</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
                <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="900">
                    <div class="py-5">
                        <svg width="38" height="38" viewBox="0 0 24 24">
                            <use xlink:href="#arrow-cycle"></use>
                        </svg>
                        <h4 class="element-title text-capitalize my-3">Bảo Vệ môi trường</h4>
                        <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    <section id="new-arrival" class="new-arrival product-carousel py-5 position-relative overflow-hidden">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
                <h4 class="text-uppercase">Ưu Đãi Của bạn</h4>
                <a href="index.html" class="btn-link">View All Products</a>
            </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder position-relative">
                                <a href="index.html">
                                    <img src="images/KMngayvang.png" alt="categories" class="product-image img-fluid">
                                </a>
                                @* <a href="index.html" class="btn-icon btn-wishlist"> *@
                                @*     <svg width="24" height="24" viewBox="0 0 24 24"> *@
                                @*         <use xlink:href="#heart"></use> *@
                                @*     </svg> *@
                                @* </a> *@
                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a href="index.html">Khuyễn Mãi Ngày Vàng</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Đặt Ngay"><span>500,000VNĐ</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>
        <div class="icon-arrow icon-arrow-left" style="top: 50%">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>
            <div class="icon-arrow icon-arrow-right" style="top: 50%">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
      
    </section>

    <section class="collection bg-light position-relative py-5">
        <div class="container">
            <div class="row">
                <div class="title-xlarge text-uppercase txt-fx domino">Collection</div>
                <div class="collection-item d-flex flex-wrap my-5">
                    <div class="col-md-6 column-container">
                        <div class="image-holder">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.183607349379!2d106.67201809999999!3d10.7972454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175294e1f81bde7%3A0x2a8eeb556a2cd1c7!2zS2jDoWNoIHPhuqFuIE3GsOG7nW5nIFRoYW5oIEx1eHVyeSBTw6BpIEfDsm4!5e0!3m2!1svi!2s!4v1742661818397!5m2!1svi!2s"
                                width="600"
                                height="600"
                                style="border:0;"
                                allowfullscreen=""
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                        </div>
                    </div>
                    <div class="col-md-6 column-container bg-white">
                        <div class="collection-content p-5 m-0 m-md-5">
                            <h3 class="element-title text-uppercase">LG Hotel</h3>
                            <p>
                                 Sứ mệnh tập trung vào lợi ích của khách hàng. Nó giúp khách hàng hiểu rõ lý do tại sao công ty tồn tại và cung cấp giá trị gì cho họ. Sứ mệnh xác định mục tiêu cốt lõi của công ty và hướng dẫn công việc hàng ngày để đáp ứng nhu cầu của khách hàng.
                            </p>
                            <a href="#" class="btn btn-dark text-uppercase mt-3">Shop Collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    <section class="video py-5 overflow-hidden">
        <div class="container-fluid" style="justify-content:center">
            <div class="row">
                <div class="video-content open-up" data-aos="zoom-out">
                    <div class="video-bg">
                        <img src="" alt=""  class="video-image img-fluid">
                    </div>
                    <div>
                        <iframe style="display:block;margin:auto"   width="700"
                            height="315"
                            src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials py-5 bg-light">
        <div class="section-header text-center mt-5">
            <h3 class="section-title">WE LOVE GOOD COMPLIMENT</h3>
        </div>
        <div class="swiper testimonial-swiper overflow-hidden my-5">
            <div class="swiper-wrapper d-flex">
                <div class="swiper-slide">
                    <div class="testimonial-item text-center">
                        <blockquote>
                            <p>"More than expected crazy soft, flexible and best fitted white simple denim shirt."</p>
                            <div class="review-title text-uppercase">casual way</div>
                        </blockquote>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item text-center">
                        <blockquote>
                            <p>"Best fitted white denim shirt more than expected crazy soft, flexible</p>
                            <div class="review-title text-uppercase">uptop</div>
                        </blockquote>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item text-center">
                        <blockquote>
                            <p>"Best fitted white denim shirt more white denim than expected flexible crazy soft."</p>
                            <div class="review-title text-uppercase">Denim craze</div>
                        </blockquote>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item text-center">
                        <blockquote>
                            <p>"Best fitted white denim shirt more than expected crazy soft, flexible</p>
                            <div class="review-title text-uppercase">uptop</div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-swiper-pagination d-flex justify-content-center mb-5"></div>
    </section>

    <section id="related-products" class="related-products product-carousel py-5 position-relative overflow-hidden">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
                <h4 class="text-uppercase">Dịch Vụ và tiện ích</h4>
                <a href="index.html" class="btn-link">View All Products</a>
            </div>
            <div class="swiper product-swiper open-up" data-aos="zoom-out">
                <div class="swiper-wrapper d-flex">
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="index.html">
                                    <img src="images/Nhahang.jpg" alt="product" class="product-image img-fluid">
                                </a>
                                <a href="index.html" class="btn-icon btn-wishlist">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                <h5 class="element-title text-uppercase lech20">
                                    <a href="index.html" class="item-anchor">Nhà ăn</a>
                                </h5>

                                <p style="margin-top: 20px"><i class="fa-solid fa-location-dot"></i> Địa điểm: HCM</p>
                                <p><i class="fa-solid fa-clock"></i> Giờ mở cửa: 8:00 - 22:00</p>
                                <p><i class="fa-solid fa-chair"></i> Sức Chứa: 250</p>
                                    
                                    <a href="index.html" class="text-decoration-none" data-after="Xem Chi tiết"><span>$95.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="index.html">
                                    <img src="images/Tieccuoi.jpg" alt="product" class="product-image img-fluid">
                                </a>
                                <a href="index.html" class="btn-icon btn-wishlist">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                <h5 class="element-title text-uppercase lech20">
                                    <a href="index.html" class="item-anchor">Phòng tiệc</a>
                                </h5>
                                     <p style="margin-top: 20px"><i class="fa-solid fa-location-dot"></i> Địa điểm: HCM</p>
                                    <p><i class="fa-solid fa-clock"></i> Giờ mở cửa: 8:00 - 22:00</p>
                                    <p><i class="fa-solid fa-chair"></i> Sức Chứa: 150</p>
                                    <a href="index.html" class="text-decoration-none" data-after="Xem Chi tiết"><span>$55.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="index.html">
                                    <img src="images/quayba.jpg" alt="product" class="product-image img-fluid">
                                </a>
                                <a href="index.html" class="btn-icon btn-wishlist">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                <h5 class="element-title text-uppercase lech20">
                                    <a href="index.html" class="item-anchor">Quầy Bar</a>
                                </h5>

                                    <p style="margin-top: 20px"><i class="fa-solid fa-location-dot"></i> Địa điểm: HCM</p>
                                    <p><i class="fa-solid fa-clock"></i> Giờ mở cửa: 8:00 - 22:00</p>
                                    <p><i class="fa-solid fa-chair"></i> Sức Chứa: 50</p>
                                    <a class="text-decoration-none" data-after="Xem Chi tiết"><span>$65.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="index.html">
                                    <img src="images/phonganvip.jpg" alt="product" class="product-image img-fluid">
                                </a>
                                <a href="index.html" class="btn-icon btn-wishlist">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                <h5 class="element-title text-uppercase lech20">
                                    <a href="index.html" class="item-anchor">Phòng Ăn Vip</a>
                                </h5>

                                    <p style="margin-top: 20px"><i class="fa-solid fa-location-dot"></i> Địa điểm: HCM</p>
                                    <p><i class="fa-solid fa-clock"></i> Giờ mở cửa: 8:00 - 22:00</p>
                                    <p><i class="fa-solid fa-chair"></i> Sức Chứa: 50</p>
                                    <a href="index.html" class="text-decoration-none" data-after="Xem Chi tiết"><span>$50.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a href="index.html">
                                    <img src="images/phongvip.jpg" alt="product" class="product-image img-fluid">
                                </a>
                                <a href="index.html" class="btn-icon btn-wishlist">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                <h5 class="element-title text-uppercase lech20">
                                    <a href="index.html" class="item-anchor">Phòng Vip</a>
                                </h5>

                                    <p style="margin-top: 20px"><i class="fa-solid fa-location-dot"></i> Địa điểm: HCM</p>
                                    <p><i class="fa-solid fa-clock"></i> Giờ mở cửa: 8:00 - 22:00</p>
                                    <p><i class="fa-solid fa-chair"></i> Sức Chứa: 100</p>
                                    <a href="index.html" class="text-decoration-none" data-after="Xem Chi tiết"><span>$70.00</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        <div class="icon-arrow icon-arrow-left " style="top: 50%">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>
        <div class="icon-arrow icon-arrow-right" style="top: 50%">
                <svg width="50" height="50"  viewBox="0 0 24 24">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </div>
    </section>

    <section class="Dichvu">
    <h2>Các dịch vụ/tiện ích khác</h2>
    <div class="services">

        <div class="service-column">
            <h3><i class="fa-solid fa-bath icon"></i>Phòng tắm</h3>
            <ul>
                <li>Giấy vệ sinh</li>
                <li>Bồn tắm hoặc Vòi sen</li>
                <li>Dép</li>
                <li>Nhà vệ sinh</li>
                <li>Đồ vệ sinh cá nhân miễn phí</li>
                <li>Áo choàng tắm</li>
                <li>Bồn tắm</li>
                <li>Vòi sen</li>
            </ul>

            <h3><i class="fa-solid fa-car icon"></i>Chỗ đậu xe</h3>
            <ul>
                <li>Có chỗ đỗ xe công cộng miễn phí dành cho khách sử dụng dịch vụ</li>
            </ul>

            <h3><i class="fa-solid fa-shield-halved icon"></i>An ninh</h3>
            <ul>
                <li>Báo động an ninh</li>
                <li>Két an toàn</li>
            </ul>
        </div>

        <div class="service-column">
            <h3><i class="fa-solid fa-heart icon"></i>Chăm sóc sức khỏe</h3>

            <h3><i class="fa-solid fa-briefcase icon"></i>Dịch vụ doanh nhân</h3>
            <ul>
                <li>Photocopy</li>
                <li>Trung tâm dịch vụ doanh nhân <span style="color: gray;">Phụ phí</span></li>
                <li>Tiện nghi tổ chức hội họp/tiệc <span style="color: gray;">Phụ phí</span></li>
            </ul>

            <h3><i class="fa-solid fa-soap icon"></i>Dịch vụ giặt ủi</h3>
            <ul>
                <li>Dọn phòng hàng ngày</li>
                <li>Dịch vụ là (ủi) <span style="color: gray;">Phụ phí</span></li>
                <li>Giặt ủi <span style="color: gray;">Phụ phí</span></li>
                <li>Giặt khô</li>
            </ul>

            <h3><i class="fa-solid fa-concierge-bell icon"></i>Dịch vụ lễ tân</h3>
            <ul>
                <li>Nhận/trả phòng riêng</li>
                <li>Giữ hành lí</li>
                <li>Lễ tân 24 giờ</li>
                <li>Thu đổi ngoại tệ</li>
            </ul>
        </div>

        <div class="service-column">
            <h3><i class="fa-solid fa-lock icon"></i>An ninh</h3>

            <h3><i class="fa-solid fa-wifi icon"></i>Internet</h3>

            <h3><i class="fa-solid fa-language icon"></i>Ngôn ngữ sử dụng</h3>
            <ul>
                <li>Tiếng Anh</li>
                <li>Tiếng Việt</li>
            </ul>

            <h3><i class="fa-solid fa-kitchen-set icon"></i>Nhà bếp</h3>

            <h3><i class="fa-solid fa-bed icon"></i>Phòng ngủ</h3>
            <ul>
                <li>Ga trải giường</li>
            </ul>

            <h3><i class="fa-solid fa-car-side icon"></i>Phương tiện</h3>
            <ul>
                <li>Đưa khách ra sân bay (có tính phí) <span style="color: gray;">Phụ phí</span></li>
                <li>Đón khách tại sân bay (có tính phí) <span style="color: gray;">Phụ phí</span></li>
            </ul>

            <h3><i class="fa-solid fa-wine-bottle icon"></i>Tiện ích trong phòng</h3>

            <h3><i class="fa-solid fa-building icon"></i>Tổng quan</h3>

            <h3><i class="fa-solid fa-tv icon"></i>Truyền thông và Công nghệ</h3>

            <h3><i class="fa-solid fa-utensils icon"></i>Dịch vụ ăn uống</h3>
        </div>

    </div>
    </section>

    <section class="logo-bar py-5 my-5">
        <div class="container">
            <div class="row">
                <div class="logo-content d-flex flex-wrap justify-content-between">
                    @* <img src="images/logo1.png" alt="logo" class="logo-image img-fluid"> *@
                    @* <img src="images/logo2.png" alt="logo" class="logo-image img-fluid"> *@
                    @* <img src="images/logo3.png" alt="logo" class="logo-image img-fluid"> *@
                    @* <img src="images/logo4.png" alt="logo" class="logo-image img-fluid"> *@
                    @* <img src="images/logo5.png" alt="logo" class="logo-image img-fluid"> *@
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter bg-light" style="background: url(images/pattern-bg.png) no-repeat;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 py-5 my-5">
                    <div class="subscribe-header text-center pb-3">
                        <h3 class="section-title text-uppercase">Sign Up for our newsletter</h3>
                    </div>
                    <form id="form" class="d-flex flex-wrap gap-2">
                        <input type="text" name="email" placeholder="Your Email Addresss" class="form-control form-control-lg">
                        <button class="btn btn-dark btn-lg text-uppercase w-100">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="instagram position-relative">
        <div class="d-flex justify-content-center w-100 position-absolute bottom-0 z-1">
            <a href="https://www.instagram.com/manchesterunited/" class="btn btn-dark px-5">Follow us on Instagram</a>
        </div>
        <div class="row g-0">
            <div class="col-6 col-sm-4 col-md-2">
                <div class="insta-item">
                    <a href="https://www.instagram.com/manchesterunited/" target="_blank">
                        <img src="images/ins1.jpg" alt="instagram" class="insta-image img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <div class="insta-item">
                    <a href="https://www.instagram.com/manchesterunited/" target="_blank">
                    <img src="images/ins2.jpg" alt="instagram" class="insta-image img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <div class="insta-item">
                    <a href="https://www.instagram.com/manchesterunited/" target="_blank">
                    <img src="images/ins3.jpg" alt="instagram" class="insta-image img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <div class="insta-item">
                    <a href="https://www.instagram.com/manchesterunited/" target="_blank">
                    <img src="images/ins6.jpg" alt="instagram" class="insta-image img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <div class="insta-item">
                    <a href="https://www.instagram.com/manchesterunited/" target="_blank">
                    <img src="images/ins5.jpg" alt="instagram" class="insta-image img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <div class="insta-item">
                    <a href="https://www.instagram.com/manchesterunited/" target="_blank">
                    <img src="images/ins1.jpg" alt="instagram" class="insta-image img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </section>

<script>
    function loadRooms() {
        fetch('/Home/GetRooms') // Gọi API
            .then(response => response.json())
            .then(data => {
                let container = document.querySelector(".swiper-wrapper");
                container.innerHTML = ""; // Xóa dữ liệu cũ

                data.forEach(room => {
                    let slide = document.createElement("div");
                    slide.classList.add("swiper-slide");
                    slide.innerHTML = `
                        <div class="banner-item image-zoom-effect">
                            <div class="image-holder cananh">
                                <a href="#">
                                    <img src="${room.imageUrl}" alt="product" class="img-fluid">
                                </a>
                            </div>
                            <div class="banner-content py-4">
                                <h5 class="element-title text-uppercase">
                                    <a href="index.html" class="item-anchor">${room.name}</a>
                                </h5>
                                <p><i class="fa-solid fa-bed"></i>Số Giường: ${room.sogiuong}</p>
                                <p><i class="fa-solid fa-ruler"></i> ${room.dientich}m²</p>
                                <p><strong>Giá:</strong> ${room.gia} VNĐ</p>
                            </div>
                            <div class="btnright">
                                <a href="#" onclick="bookRoom(${room.maphong}, ${room.gia})"
                                   class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">
                                    Đặt Phòng
                                </a>
                            </div>
                        </div>
                    `;
                    container.appendChild(slide);
                });
            })
            .catch(error => console.error("Lỗi tải dữ liệu: ", error));
    }

    // Gọi hàm khi trang tải xong


          function bookRoom(roomId) {
        let maKH = localStorage.getItem("MaKH"); // Lấy MaKH từ localStorage hoặc session
        if (!maKH) {
            alert("Bạn cần đăng nhập để đặt phòng!");
            return;
        }

        // Tạo form để chọn ngày
        const modalHtml = `
            <div class="modal fade" id="bookingModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Chọn ngày đặt phòng</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="checkInDate" class="form-label">Ngày nhận phòng:</label>
                                <input type="date" class="form-control" id="checkInDate" required>
                            </div>
                            <div class="mb-3">
                                <label for="checkOutDate" class="form-label">Ngày trả phòng:</label>
                                <input type="date" class="form-control" id="checkOutDate" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" onclick="confirmBooking(${roomId})">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        `;

        // Thêm modal vào body nếu chưa có
        if (!document.getElementById('bookingModal')) {
            document.body.insertAdjacentHTML('beforeend', modalHtml);
        }

        // Hiển thị modal
        const modal = new bootstrap.Modal(document.getElementById('bookingModal'));
        modal.show();
    }

    function confirmBooking(roomId) {
        const checkInDate = document.getElementById('checkInDate').value;
        const checkOutDate = document.getElementById('checkOutDate').value;
        const maKH = localStorage.getItem("MaKH");

        if (!checkInDate || !checkOutDate) {
            alert("Vui lòng chọn ngày nhận phòng và trả phòng!");
            return;
        }

        const requestData = {
            Maphong: roomId,
            MaKH: maKH,
            CheckInDate: new Date(checkInDate).toISOString(),
            CheckOutDate: new Date(checkOutDate).toISOString()
        };

        console.log("📤 Dữ liệu gửi đi:", JSON.stringify(requestData));

        fetch('/api/booking/book', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(err => {
                    throw new Error(err.Message || "Đặt phòng thất bại");
                });
            }
            return response.json();
        })
        .then(data => {
            console.log("📩 Phản hồi từ server:", data);
            alert(data.Message || "Đặt phòng thành công!");
            // Đóng modal sau khi đặt phòng thành công
            const modal = bootstrap.Modal.getInstance(document.getElementById('bookingModal'));
            modal.hide();
        })
        .catch(error => {
            console.error("❌ Lỗi khi đặt phòng:", error);
            alert(error.message || "Đặt phòng thất bại.");
        });
    }



        document.addEventListener("DOMContentLoaded", loadRooms);
</script>
